* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

li {
    list-style: none;
}
 ul {
     padding: 0;
     margin: 0;
 }
 a {
     color: inherit;
     text-decoration: none;
 }

.banner {
    height: 98vh;
    position: relative;
    background: url('../img/aquaman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-heading h1 {
    line-height: 1.9;
}
.banner-heading {
    color: #fff;
    position: absolute;
    top: 45%;
    margin-left: 50px;
}
.banner-heading span {
    background-color: black;
    display: inline;
    padding: 11px 6px;
    margin: 10px 0;
    font-size: 3.3rem;
    letter-spacing: 10px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.54);
    height: 100%;
}
.nav {
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
}
.nav-brand {
    flex-basis: 40%;
    background-color: #fff;
    text-align: center;
    font-family: cursive;
    font-size: 1.3rem;
}
.nav-brand h3 {
    margin: 10px;
}


.nav-links {
    background-color: #f2c04d;
    flex-basis: 70%;
    padding: 10px;
    display: flex;
}
.nav-links a:hover {
    color: #8a7e7e;
    border-bottom: 2px solid #fff;
}
.nav-links ul {
    padding: 5px;
}
.nav-links  li {
    display: inline;
    padding:  12px 10px;
    font-weight: bold;
}
.media-icons {
    flex-basis: 40%;
    margin-left: auto;
    
}

.media-icons ul{
    position: absolute;
    right: 20px;
    font-weight: 400;
    font-size: 1.4rem;
}

main {
    background: url('../img/popcorn.jpg');
    background-size: cover;
}

form {
    padding: 20px;
}

.search-input {
    margin: 20px -7px 20px 20px;
    padding: 7px;
    width: 65%;
}
.search-submit {
    padding: 9px;
    border-style: none;
    background-color: #f2c04d;
}
.showcase {
    display: flex;
    padding: 0 20px;
}
.show-video-bg{
    position: relative;
    width: 500px;
    height: 365px;
    background: url('../img/jchan.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}
.show-video-bg img{
    position: absolute;
    top: 40%;
    left: 40%;
}


.show-video-sm {
    width: 360px;
    height: 149px;
    ;
    margin: 20px;
}
.heading-bb{
    color: #fff;
    text-align: right;
    border-bottom: 5px solid #f2c04d;
    margin: 10px 20px;
}
.com-soon-1 {
    background: url('../img/tombRaid.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.com-soon-1 img {
    position: absolute;
    top: 15%;
    left: 40%;
}

.com-soon-2 {
    background: url('../img/callofduty3ad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.com-soon-2 img {
    position: absolute;
    top: 15%;
    left: 40%;
}

.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000a8;
    color: #fff;
    line-height: 27px;
    padding: 0 10px;
}

.info h3, .info p {
    margin: 4px
}

.now-showing {
    width: 938px;
    padding: 0 20px;
}
.now-showing .items {
    display: flex;
    flex-wrap: wrap;
}
.now-showing .item {
    height: 300px;
    width: 200px;
    position: relative;
    margin: 10px;
}
.now-showing .item1 {
    background: url('../img/brazen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.now-showing .item2 {
    background: url('../img/cover-creed2-hd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.now-showing .item3 {
    background: url('../img/deadpool.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#spotlights {
    width: 938px;
    padding: 0 20px;
}

#spotlight-items {
    display: flex;
    flex-wrap: wrap;
}
.spotlight-item {
    width: 180px;
    height: 300px;
    flex-basis: 24%;

    margin: 2px;

}
.spotlight-item:hover {
    
}